@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
*{
   font-family: Cairo;
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   scroll-behavior: smooth;
}
@media screen and (max-width:400px){
  
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3d53;
    color: rgb(234, 237, 241);
    padding: 0px 100px;
    border-top: solid crimson;
    position: fixed;
    width: 100%;
    z-index: 999;
 }
 header:hover{
  border-top: solid  aquamarine;

 }
 header a {
    color: aliceblue;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    transition: .3s;
 }
 header a:hover{
   color: rgb(20, 118, 199);
   font-size: 20px;
 }
 .cursor{
      height: 100vh;
      display: flex;
      align-items: center;
      color: aliceblue;
      background-image: url(imgs/thunderstorm-3625405_6403.jpg);
      background-size: cover;
      background-attachment: fixed;
      background-color:rgb(0, 0, 0, .4);
      background-position: center;
 }
 .cursor a{
  color: black;
  background-color: #fff;
 }
 .cursor div{
   margin:0px 50px;
 }
 .cursor h2{
   color: #2c3d53;
 }
 .cursor span{
   color: crimson;
 }
 .cursor a{
   color: aliceblue;
   text-decoration: none;
   background-color: aqua;
   display: inline-block;
   padding: 10px;
   border-radius: 10px;
   font-size: 18px;
   transition: .4s;
 }
 .cursor a:hover{
   font-size: 20px;
   background-color: #2c3d53;
 }
 .services h2{
   text-align: center;
   margin: 30px 0px;
 }
 .services .container {
   display: flex;
   padding:0px 60px;
   flex-wrap: wrap;
   justify-content: center;
 }
 .container .card{
   margin-right: 20px;
   box-shadow: 3px 3px 6px 6px #ccc;
   padding: 10px;
   width: 20em;
   margin-bottom: 40px;
   text-align: center;
 }
.card h3{
   color: crimson;
   font-size: 15px;
   font-weight: 1000;
}
.container .card  > div{
   color: #2c3d53;
   font-size: 50px;
}
.portfolio{
  background-color: #2c3d53;
  text-align: center;
  padding: 30px 100px;
}
.portfolio h2{
  color: aliceblue;
  margin-bottom: 20px;
  border-bottom:  solid crimson;
  display: inline-block;
  margin-bottom: 40px;
}
.portfolio  .container2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio .card2{
  background-color: aliceblue;
  border: solid;
  border-radius: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  width: 20em;
  margin-bottom: 30px;
  overflow: hidden;
  min-height: 200px;
}
.portfolio.crd-desc p {
  font-size: 12px;
 line-height: 1.32;
  font-weight: 700;
}
.portfolio button{
  align-self: flex-end;
  margin-left: 10px;
  font-weight: 700;
  background-color:aqua;
  border-radius: 10px;
  padding:0px 10px;
  transition: .4s;
}
.portfolio button:hover{
  scale: 1.1;
}
.portfolio.crd-desc{
  margin: 0px 10px;
  text-align: left;
  align-items: flex-end;
}
.portfolio img{
  height: 12em;
  width: 100%;
  object-fit: cover;
}
.notla{
  padding: 50px 100px;
  display: flex;
  align-items: center;
}
.notla h2{
  color: crimson  ;
}
.notla p{
  font-size: 13;
}
.notla-desc{
  width: 60%;
  text-align: center ;
}
.notla-img{
  width: 40%;
  margin-right: 30px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 40%);
  transition: ease all 1s;
}
.notla-img:hover{
  transform: translate(-20px, -30px);
}
.img-rtl{
  margin-left: 30px!important;

}
.notla-img img{
  width: 100%;
}
.about{
  padding: 50px;
  min-height: 80vh;
  text-align:center;
  justify-items: center;
  background-image: url(imgs/images\ \(4\).jpg);
  background-attachment: fixed;
  background-size:cover ;
  background-position: center;
}
.about>div{
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
margin-top: 50px;
padding-left: 18%; ;

}
.about h2{
  color: white;
  border-bottom: solid white;
  display: inline-block;
}
.about img{
  width: 16em;
  height: 16em;
  border-radius: 50%;
  border: solid white 2px;
  margin-right: 20px;
  justify-items: center;
  margin-bottom: 20px;
}
.map{
  padding: 100px;
  display: flex;
  justify-content: center;
}
.map div{
  width: 100%;
  padding: 20px;
  box-shadow: 0 10px 35px 0 lightblue;
}
.map div iframe{
  width: 100%;
}
.contact{
  padding: 100px;background: rgb(180,205,20);
  background: linear-gradient(90deg, rgba(180,205,20,1) 5%, rgba(161,113,162,1) 40%, rgba(0,176,255,1) 85%);
  text-align: center;
}
.contact h2{
   color: aliceblue;
  margin-bottom: 50px;
  border-bottom: solid;
  display: inline-block;
}
.input-form{
   margin-bottom : 20px;
  position: relative;
  width: 100%;
  height: 50px;
 }
 .input-form label{
  font-size: 18px;
  position: absolute;
  top: 30%;
  left: 5px;
  transform: translatey(-50%);
  pointer-events: none;
 }
.input-form input{
  border: none;
  border-bottom: solid;
  outline: none;
  padding:5px 5px;
  width: 100%;
  height: 40px;
  font-size: 1.2em;
}
.input-form input:hover~label,
.input-form input:valid~label{
  top: 10%;
  transform: translatey(-40%);
  transition: .4s;
  font-size: 12px;
}

footer{
  text-align: center;
  color: aliceblue;
  padding: 20px;
  background-color: #2c3d53;
}
.send{
  padding:5px 20px;
  border: none;
  border-radius: 10px;
  background-color: aqua;
}
.send:hover{
  transform: scale(1.2);
  background-color: #2c3d53;
  font-size: 1.2em;
  transition: .8s;

}
footer span{
  color: crimson;
  font-size:  1.2em ;
  text-decoration: underline white 5px
  ;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
 }
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: crimson; 
 }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: aqua; 
}   